<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>jagol</title>
	<meta name="description" content="Just Another Game Of Life">
	<meta name="author" content="Yan Pearson">

	<!-- <link rel="stylesheet" href="css/styles.css"> -->
</head>

<body>
	<h1>jagol</h1>
	<canvas id="board" width="500" height="500"></canvas>
	<div id="generation">
		<span>Generation: 0</span>
	</div>
	<form id="controls">
		<input type="button" id="start" value="Start">
		<input type="button" id="stop" value="Stop">
	</form>
	<script src="jagol.js"></script>
	<script src="patterns.js"></script>
	<script>
		const initializeGenerationView = id => {
			if (!id) return;
			const view = document.getElementById(id);
			if (!view) return;
			const genEl = view.querySelector('span');
			if (!genEl) return;
			const displayGeneration = board => {
				genEl.innerText = `Generation: ${board.generation}`;
				return board;
			};
			return { displayGeneration };
		};

		const initializeBoardView = (id, width, height, cellSize) => {
			width = width || 50;
			height = height || 50;
			cellSize = cellSize || 10;
			if (!id) return;
			const view = document.getElementById(id);
			if (!view) return;
			if (!view.getContext) return;
			const ctx = view.getContext('2d');
			if (!ctx) return;

			const drawBoard = (ctx, width, height, cellSize) => {
				ctx.clearRect(0, 0, width * cellSize, height * cellSize);
				for(let i = 0; i <= width; i++) {
					ctx.beginPath();
					ctx.moveTo(i * cellSize, 0);
					ctx.lineTo(i * cellSize, height * cellSize);
					ctx.stroke();
				}
				for(let j = 0; j <= height; j++) {
					ctx.beginPath();
					ctx.moveTo(0, j * cellSize);
					ctx.lineTo(width * cellSize, j * cellSize);
					ctx.stroke();
				}
			}

			const drawCell = (ctx, x, y, cellSize) => {
				const padding = 2;
				const x1 = x * cellSize + padding;
				const y1 = y * cellSize + padding;
				const size = cellSize - (2 * padding);

				ctx.fillRect(x1, y1, size, size);
			}

			const renderBoard = board => {
				drawBoard(ctx, width, height, cellSize);
				board.population.forEach(cell => {
					drawCell(ctx, cell.x, cell.y, cellSize);
				});
				return board;
			};

			return { renderBoard };
		};

		const initializeControlsView = (id, onStart, onStop) => {
			if (!id) return;
			if (!onStart || !typeof onStart === 'function') return;
			if (!onStop || !typeof onStop === 'function') return;
			if (!id) return;
			const view = document.getElementById(id);
			if (!view) return;
			const startEl = view.querySelector('#start');
			if (!startEl) return;
			const stopEl = view.querySelector('#stop');
			if (!stopEl) return;
			const start = () => {
				startEl.disabled = true;
				stopEl.disabled = false;
				onStart();
			};
			const stop = () => {
				startEl.disabled = false;
				stopEl.disabled = true;
				onStop();
			};
			startEl.disabled = false;
			stopEl.disabled = true;
			startEl.addEventListener('click', start);
			stopEl.addEventListener('click', stop);
			return { start, stop };
		};

		const boardView = initializeBoardView('board');
		const genView = initializeGenerationView('generation');

		const oscillator = patterns.oscillator(47, 47);
		const glider = patterns.glider(0, 10);
		const gosperGliderGun = patterns.gosperGliderGun(0, 0);
		const seed = [].concat(oscillator).concat(glider).concat(gosperGliderGun);

		const rulesTable = jagol.createRulesTable();
		const doNextGen = jagol.play(rulesTable);

		const renderNextGen = seed => {
			const _renderNextGen = board => boardView.renderBoard(genView.displayGeneration(doNextGen(board)));
			return () => {
				seed = _renderNextGen(seed);
			};
		};

		const game = seed => {
			const board = jagol.board(50, 50, seed);

			boardView.renderBoard(board);

			const tick = renderNextGen(board);
			let intervalId;

			const play = () => {
				intervalId = setInterval(function() {
					tick();
				}, 10);
			};

			const abort = () => {
				clearInterval(intervalId);
			};

			return { play, abort };
		};

		const myGame = game(seed);
		const controls = initializeControlsView('controls', myGame.play, myGame.abort);
	</script>
</body>
</html>
