<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>jagol</title>
	<meta name="description" content="Just Another Game Of Life">
	<meta name="author" content="Yan Pearson">

	<!-- <link rel="stylesheet" href="css/styles.css"> -->
</head>

<body>
	<h1>jagol</h1>
	<canvas id="board" width="500" height="500"></canvas>
	<div id="status"></div>
	<div id="game-controller"></div>
	<script src="jagol.js"></script>
	<script src="patterns.js"></script>
	<script src="immutable.js"></script>
	<script>
		// Game
		const oscillator = patterns.oscillator(47, 47);
		const glider = patterns.glider(0, 10);
		const gosperGliderGun = patterns.gosperGliderGun(0, 0);
		const seed = [].concat(oscillator).concat(glider).concat(gosperGliderGun);
		const gameBoard = jagol.board(50, 50, seed);
		const rulesTable = jagol.createRulesTable();
		const doNextGen = jagol.play(rulesTable);
		const historicityLevel = 30;

		const loop = (() => {
			let intervalId;
			let currentGeneration = { board: gameBoard, renderingSpeed: 0 };
			let history = new immutable.Stack();

			const hasHistory = history => history.size > 0;

			const previous = () => {
				const element = history.peek();
				const list = history.pop();
				const board = element.board;

				store.dispatch(renderBoard(board));

				currentGeneration = { board, renderingSpeed: 0 };
				history = list;

				store.dispatch(previousGeneration(hasHistory(history)));
				store.dispatch(renderStatus(board.generation, 0));
			};

			const play = () => {
				let lastRenderAt = window.performance.now();

				store.dispatch(playGame(hasHistory(history)));

				intervalId = setInterval(() => {
					if (currentGeneration) {
						if (history.size > historicityLevel) {
							history = history.butLast();
						}
						history = history.push(currentGeneration);
					}

					const board = doNextGen(currentGeneration.board);
					store.dispatch(renderBoard(board));

					const now = window.performance.now();
					const elapsedTime = now - lastRenderAt;
					const renderingSpeed = 1000 / elapsedTime;

					lastRenderAt = now;
					currentGeneration = { board, renderingSpeed };

					const allGenerations = history.push(currentGeneration);
					const totalTime = allGenerations.reduce((acc, current) => acc + current.renderingSpeed, 0);
					const averageRenderingSpeed = (totalTime / historicityLevel) | 0;

					store.dispatch(renderStatus(board.generation, averageRenderingSpeed));
				}, 0);
			};

			const pause = () => {
				clearInterval(intervalId);
				store.dispatch(pauseGame(hasHistory(history)));
			};

			const next = () => {
				if (currentGeneration) {
					if (history.size > historicityLevel) {
						history = history.butLast();
					}
					history = history.push(currentGeneration);
				}

				const board = doNextGen(currentGeneration.board);
				store.dispatch(renderBoard(board));

				currentGeneration = { board, averageRenderingSpeed: 0 };

				store.dispatch(nextGeneration(hasHistory(history)));
				store.dispatch(renderStatus(board.generation, 0));
			};

			return { previous, play, pause, next };
		})();

		// Actions
		const previousGeneration = canPrevious => ({ id: 'previousGeneration', canPrevious });
		const playGame = canPrevious => ({ id: 'playGame', canPrevious });
		const pauseGame = canPrevious => ({ id: 'pauseGame', canPrevious });
		const nextGeneration = canPrevious => ({ id: 'nextGeneration', canPrevious });
		const renderStatus = (generation, renderingSpeed) => ({ id: 'renderStatus', generation, renderingSpeed });
		const renderBoard = board => ({ id: 'renderBoard', board });

		// Reducers
		const gameController = (state = { canPrevious: false, canPlay: true, canPause: false, canNext: true }, action) => {
			switch(action.id) {
				case 'previousGeneration':
					return {
						canPrevious: action.canPrevious,
						canPlay: true,
						canStop: false,
						canNext: true,
					};
				case 'playGame':
					return {
						canPrevious: false,
						canPlay: false,
						canPause: true,
						canNext: false,
					};
				case 'pauseGame':
					return {
						canPrevious: action.canPrevious,
						canPlay: true,
						canPause: false,
						canNext: true,
					};
				case 'nextGeneration':
					return {
						canPrevious: action.canPrevious,
						canPlay: true,
						canStop: false,
						canNext: true,
					};
				default:
					return state;
			}
		};

		const status = (state = { generation: 0, renderingSpeed: 0 }, action) => {
			switch(action.id) {
				case 'renderStatus':
					return { generation: action.generation, renderingSpeed: action.renderingSpeed };
				default:
					return state;
			}
		};

		const toBoardState = board => ({
			width: board.width,
			height: board.height,
			population: board.population
		});

		const board = (state = toBoardState(gameBoard), action) => {
			switch(action.id) {
				case 'renderBoard':
					return toBoardState(action.board);
				default:
					return state;
			}
		};

		const game = (state = { }, action) => ({
			gameController: gameController(state.gameController, action),
			status: status(state.status, action),
			board: board(state.board, action)
		});

		// Renderering
		const renderGame = (state, originator) => {

			// Game Controller
			const gameControllerView = (previousEnabled, playEnabled, pauseEnabled, nextEnabled) => `
<button id="previous" ${previousEnabled ? '' : 'disabled="disabled"'}>Previous</button>
<button id="play" ${playEnabled ? '' : 'disabled="disabled"'}>Play</button>
<button id="pause" ${pauseEnabled ? '' : 'disabled="disabled"'}>Pause</button>
<button id="next" ${nextEnabled ? '' : 'disabled="disabled"'}>Next</button>`;

			const renderGameController = state => {
				const view = gameControllerView(state.canPrevious, state.canPlay, state.canPause, state.canNext);
				const gc = document.getElementById('game-controller');

				gc.innerHTML = view;

				const previous = gc.querySelector('#previous');
				previous.addEventListener('click', loop.previous);

				const play = gc.querySelector('#play');
				play.addEventListener('click', loop.play);

				const pause = gc.querySelector('#pause');
				pause.addEventListener('click', loop.pause);

				const next = gc.querySelector('#next');
				next.addEventListener('click', loop.next);
			};

			// Status
			const statusView = (generation, renderingSpeed) => `
<span>Generation: ${generation}</span>
<span>Rendering Speed: ${renderingSpeed} generations/seconds</span>`;

			const renderStatus = state => {
				const view = statusView(state.generation, state.renderingSpeed);
				const gc = document.getElementById('status');

				gc.innerHTML = view;
			};

			// Board
			const renderBoard = state => {
				const drawBoard = (ctx, width, height, cellSize) => {
					ctx.clearRect(0, 0, width * cellSize, height * cellSize);
					for(let i = 0; i <= width; i++) {
						ctx.beginPath();
						ctx.moveTo(i * cellSize, 0);
						ctx.lineTo(i * cellSize, height * cellSize);
						ctx.stroke();
					}
					for(let j = 0; j <= height; j++) {
						ctx.beginPath();
						ctx.moveTo(0, j * cellSize);
						ctx.lineTo(width * cellSize, j * cellSize);
						ctx.stroke();
					}
				}

				const drawCell = (ctx, x, y, cellSize) => {
					const padding = 2;
					const x1 = x * cellSize + padding;
					const y1 = y * cellSize + padding;
					const size = cellSize - (2 * padding);

					ctx.fillRect(x1, y1, size, size);
				}

				const view = document.getElementById('board');
				const ctx = view.getContext('2d');

				return ((ctx, population, width, height, cellSize) => {
					drawBoard(ctx, width, height, cellSize);
					population.forEach(cell => {
						drawCell(ctx, cell.x, cell.y, cellSize);
					});
					return population;
				})(ctx, state.population, state.width, state.height, 10);
			};

			// -- WORKAROUND --
			// Not the best solution...
			// But we don't want to render everything each times.
			switch(originator) {
				case 'previousGeneration':
				case 'playGame':
				case 'pauseGame':
				case 'nextGeneration':
					renderGameController(state.gameController);
					break;
				case 'renderStatus':
					renderStatus(state.status);
					break;
				case 'renderBoard':
					renderBoard(state.board);
					break;
				default:
					renderGameController(state.gameController);
					renderStatus(state.status);
					renderBoard(state.board);
					break;
			}
		};

		// Store
		const createStore = (reducer, onDispatch, initialState) => {
			let state = initialState || { };

			const dispatch = action => {
				state = reducer(state, action);
				onDispatch(state, action.id);
			};

			return { dispatch };
		};

		const store = createStore(game, renderGame);

		// Initial rendering
		store.dispatch({ id: 'INITIAL_RENDERING' });
	</script>
</body>
</html>
